@import url('https://fonts.googleapis.com/css2?family=Roboto');
/*
*  html5resetcss
*/
*{box-sizing: border-box;-webkit-box-sizing: border-box;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/*
* fim html5resetcss
*/

body{
  font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(212,228,223);
  background: linear-gradient(90deg, rgba(212, 228, 223, 0.459) 0%, rgba(69, 88, 104, 0.164) 100%);
}

/*Aqui começa o Rodapé*/
header{
  background: #A7BAD4 linear-gradient(25deg, #A7D1D4 20%, #C2F6EA 200px 40%, transparent);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header h1{
  position: relative;
  padding: 15px 20px 25px 20px;
  display: inline-block;
  font-size: 45px;
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}
header p{
  color: #C2F6EA;
  padding: 20px;
  background-color: steelblue;
}
/*Aqui termina o Rodapé*/

/*Aqui começa o Formulario*/
/*Aqui começa o accordion*/
.accordion{
  border-radius: 10px 10px 10px 10px;
  background: rgba(212,228,223,1) linear-gradient(90deg, rgba(212,228,223,1) 56%, rgba(172,196,216,1) 87%, rgba(69,88,104,1) 100%);
  margin-top: 2px;
  cursor: pointer;
  padding: 18px;
  border-bottom: 5px solid rgb(69, 88, 104);
  transition: 200ms;
}
.active, .accordion:hover {
  border-radius: 10px 30px 0px 0px;
  color: #C2F6EA;
  background: rgb(69, 88, 104);
}
.painel {
  border: 1px solid rgb(69, 88, 104);
  height: auto;
  padding: 20px 18px;
  background-color: #fff;
  display: none;
  overflow: hidden;
}
/*Aqui termina o accordion*/

form{
  background-color: #fff;
  margin: 30px 0 0 0;
  border-radius: 10px 50px;
  padding: 50px 10px 80px 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #0000004d; 
  box-shadow: 5px 5px 15px 5px #0000004d;
}
legend{
  padding: 0 0 20px 20px;
}
input, select, textarea{
  background-color: #fff;
  border: 1px solid steelblue;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
}
input:focus, input:valid, select:focus, select:valid, textarea:focus, textarea:valid{
  border-radius: 3px;
  outline: 1px solid steelblue;
  outline-offset: 2px;
}
.inputs{
  padding: 15px;
  position: relative;
  width:50%;
  float: left;
}
.inputs::after{
  content: "";
  display: table;
  clear: both;
}
.inputs label{
  transition: 500ms;
  position: absolute;
  top: 25px;
  left: 25px;
}
input:focus+label,
select:focus+label,
textarea:focus+label,
input:valid+label,
select:valid+label,
textarea:valid+label{
  padding: 0 10px;
  background-color: #fff;
  transform: translate(10px,-30px);
}
#add1{
  display: none;
}
#add1::before{
  content: "";
  clear: both;
  display: table;
}

textarea{
  padding: 15px;
  position: relative;
  width:100%;
  float: left;
}
input[type="submit"]{
  margin: 10px 0 0 0;
  background-color: #4682b4;
  color: #fff;
}
/*Aqui termina o Formulario*/


footer{
  color: #fff;
  text-align: center;
  margin-top: 100px;
  background-color: steelblue;
  padding: 50px;
}
footer p{
  padding: 10px;
}
footer a{
  color: #fff;
  text-decoration: none;
}



@media screen and (max-width:800px) {
  .inputs{
    padding: 15px 0;
    width: 100%;
  }
  form, fieldset{
  }
  input, select{
    padding: 20px;
  }
  .inputs label{
    transition: 500ms;
    position: absolute;
    top: 35px;
    left: 15px;
  }
}